<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Validation d'action</title>
  </head>
  <body class="container">

    <div class="card mt-4 col-md-6 d-flex justify-content-center">
      <h5 class="card-title text-center">Modifier un Ticket</h5>
      <div class="card-body d-flex justify-content-center">

        <form class="col" action="/tickets/update/{{donnees.id}}" method="POST">

          <div class="input-group ">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1" name="desc">Description</span>
              <input type="text" class="form-control" name="desc" placeholder= "{{donnees.desq}}" required="required">
            </div>
          </div>

          <div class="input-group mt-3 mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Severité</label>
              <select class="custom-select" id="inputGroupSelect01" name="severite">
                <option value="Urgent">Urgent</option>
                <option value="Normal">Normal</option>
                <option value="Bas">Bas</option>
              </select>
            </div>

          </div>

          <button type="submit" class="btn btn-success mt-3">Modifier</button>

        </form>
      </div>
    </div>

  </body>
</html>
